<div class="p-5 mb-4 bg-light rounded-3" *ngIf="contactProfil">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">{{ contactProfil.name }}</h1>
    <p class="col-md-8 fs-4">{{ contactProfil.username }}</p>
    <hr class="my-4">
    <input
      (change)="contactHasChanged()"
      [(ngModel)]="contactProfil.name"
      type="text" class="form-control">
  </div>
</div> <!-- /.jumbotron -->

<div class="p-5 mb-4 bg-light rounded-3" *ngIf="!contactProfil">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Gestion de contact</h1>
    <p class="col-md-8 fs-4">Choisissez un contact</p>
  </div>
</div> <!-- /.jumbotron -->
